src/gsoap/schem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/icdtcpwebservice/icdtcpws" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/icdtcpwebservice/icdtcpws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/icdtcpwebservice/icdtcpws">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTime">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTime2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="l" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTime2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTime2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSession">
        <s:complexType />
      </s:element>
      <s:element name="TestSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestSessionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OutDeviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idd" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DevInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginDeviceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateDataBin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateDataBinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateDataBinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasUpdateBin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevVer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasUpdateBinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HasUpdateBinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTime2SoapIn">
    <wsdl:part name="parameters" element="tns:GetTime2" />
  </wsdl:message>
  <wsdl:message name="GetTime2SoapOut">
    <wsdl:part name="parameters" element="tns:GetTime2Response" />
  </wsdl:message>
  <wsdl:message name="TestSessionSoapIn">
    <wsdl:part name="parameters" element="tns:TestSession" />
  </wsdl:message>
  <wsdl:message name="TestSessionSoapOut">
    <wsdl:part name="parameters" element="tns:TestSessionResponse" />
  </wsdl:message>
  <wsdl:message name="OutDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:OutDevice" />
  </wsdl:message>
  <wsdl:message name="OutDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:OutDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:LoginDevice" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:LoginDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDataBinSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateDataBin" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDataBinSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateDataBinResponse" />
  </wsdl:message>
  <wsdl:message name="HasUpdateBinSoapIn">
    <wsdl:part name="parameters" element="tns:HasUpdateBin" />
  </wsdl:message>
  <wsdl:message name="HasUpdateBinSoapOut">
    <wsdl:part name="parameters" element="tns:HasUpdateBinResponse" />
  </wsdl:message>
  <wsdl:message name="SendDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendData" />
  </wsdl:message>
  <wsdl:message name="SendDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendDataResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTimeHttpPostIn" />
  <wsdl:message name="GetTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTime2HttpPostIn">
    <wsdl:part name="l" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTime2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestSessionHttpPostIn" />
  <wsdl:message name="TestSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="OutDeviceHttpPostIn">
    <wsdl:part name="ErrorNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OutDeviceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceHttpPostIn">
    <wsdl:part name="idd" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="DevInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDataBinHttpPostIn">
    <wsdl:part name="nPage" type="s:string" />
    <wsdl:part name="nSize" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUpdateDataBinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HasUpdateBinHttpPostIn">
    <wsdl:part name="DevVer" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HasUpdateBinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendDataHttpPostIn">
    <wsdl:part name="data" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input message="tns:GetTimeSoapIn" />
      <wsdl:output message="tns:GetTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime2">
      <wsdl:input message="tns:GetTime2SoapIn" />
      <wsdl:output message="tns:GetTime2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <wsdl:input message="tns:TestSessionSoapIn" />
      <wsdl:output message="tns:TestSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OutDevice">
      <wsdl:input message="tns:OutDeviceSoapIn" />
      <wsdl:output message="tns:OutDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <wsdl:input message="tns:LoginDeviceSoapIn" />
      <wsdl:output message="tns:LoginDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDataBin">
      <wsdl:input message="tns:GetUpdateDataBinSoapIn" />
      <wsdl:output message="tns:GetUpdateDataBinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasUpdateBin">
      <wsdl:input message="tns:HasUpdateBinSoapIn" />
      <wsdl:output message="tns:HasUpdateBinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <wsdl:input message="tns:SendDataSoapIn" />
      <wsdl:output message="tns:SendDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input message="tns:GetTimeHttpPostIn" />
      <wsdl:output message="tns:GetTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime2">
      <wsdl:input message="tns:GetTime2HttpPostIn" />
      <wsdl:output message="tns:GetTime2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <wsdl:input message="tns:TestSessionHttpPostIn" />
      <wsdl:output message="tns:TestSessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="OutDevice">
      <wsdl:input message="tns:OutDeviceHttpPostIn" />
      <wsdl:output message="tns:OutDeviceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <wsdl:input message="tns:LoginDeviceHttpPostIn" />
      <wsdl:output message="tns:LoginDeviceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDataBin">
      <wsdl:input message="tns:GetUpdateDataBinHttpPostIn" />
      <wsdl:output message="tns:GetUpdateDataBinHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HasUpdateBin">
      <wsdl:input message="tns:HasUpdateBinHttpPostIn" />
      <wsdl:output message="tns:HasUpdateBinHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <wsdl:input message="tns:SendDataHttpPostIn" />
      <wsdl:output message="tns:SendDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime2">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/GetTime2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/TestSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutDevice">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/OutDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/LoginDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDataBin">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/GetUpdateDataBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUpdateBin">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/HasUpdateBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <soap:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/SendData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/GetTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime2">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/GetTime2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/TestSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutDevice">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/OutDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/LoginDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDataBin">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/GetUpdateDataBin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUpdateBin">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/HasUpdateBin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <soap12:operation soapAction="http://tempuri.org/icdtcpwebservice/icdtcpws/SendData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <http:operation location="/GetTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime2">
      <http:operation location="/GetTime2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <http:operation location="/TestSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutDevice">
      <http:operation location="/OutDevice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <http:operation location="/LoginDevice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateDataBin">
      <http:operation location="/GetUpdateDataBin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUpdateBin">
      <http:operation location="/HasUpdateBin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <http:operation location="/SendData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.123.4/icdtcp3webservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.123.4/icdtcp3webservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://192.168.123.4/icdtcp3webservice/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>