src/gsoap/schem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://insofter.pl/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://insofter.pl/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://insofter.pl/webservices">
      <s:element name="GetTime">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idd" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="devInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginDeviceResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendDataResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendData3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendData3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendData3Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutDevice">
        <s:complexType />
      </s:element>
      <s:element name="LogoutDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutDeviceResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestSession">
        <s:complexType />
      </s:element>
      <s:element name="TestSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestSessionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceUpdateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoftVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceUpdateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeviceUpdateInfoResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:UpdatePack" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdatePack">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateForce" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:LoginDevice" />
  </wsdl:message>
  <wsdl:message name="LoginDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:LoginDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="SendDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendData" />
  </wsdl:message>
  <wsdl:message name="SendDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendData3SoapIn">
    <wsdl:part name="parameters" element="tns:SendData3" />
  </wsdl:message>
  <wsdl:message name="SendData3SoapOut">
    <wsdl:part name="parameters" element="tns:SendData3Response" />
  </wsdl:message>
  <wsdl:message name="LogoutDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:LogoutDevice" />
  </wsdl:message>
  <wsdl:message name="LogoutDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="TestSessionSoapIn">
    <wsdl:part name="parameters" element="tns:TestSession" />
  </wsdl:message>
  <wsdl:message name="TestSessionSoapOut">
    <wsdl:part name="parameters" element="tns:TestSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceUpdateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceUpdateInfo" />
  </wsdl:message>
  <wsdl:message name="GetDeviceUpdateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceUpdateInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="icdtcp3Soap">
    <wsdl:operation name="GetTime">
      <wsdl:input message="tns:GetTimeSoapIn" />
      <wsdl:output message="tns:GetTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <wsdl:input message="tns:LoginDeviceSoapIn" />
      <wsdl:output message="tns:LoginDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <wsdl:input message="tns:SendDataSoapIn" />
      <wsdl:output message="tns:SendDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendData3">
      <wsdl:input message="tns:SendData3SoapIn" />
      <wsdl:output message="tns:SendData3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutDevice">
      <wsdl:input message="tns:LogoutDeviceSoapIn" />
      <wsdl:output message="tns:LogoutDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <wsdl:input message="tns:TestSessionSoapIn" />
      <wsdl:output message="tns:TestSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceUpdateInfo">
      <wsdl:input message="tns:GetDeviceUpdateInfoSoapIn" />
      <wsdl:output message="tns:GetDeviceUpdateInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="icdtcp3Soap" type="tns:icdtcp3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://insofter.pl/webservices/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <soap:operation soapAction="http://insofter.pl/webservices/LoginDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <soap:operation soapAction="http://insofter.pl/webservices/SendData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData3">
      <soap:operation soapAction="http://insofter.pl/webservices/SendData3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutDevice">
      <soap:operation soapAction="http://insofter.pl/webservices/LogoutDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <soap:operation soapAction="http://insofter.pl/webservices/TestSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceUpdateInfo">
      <soap:operation soapAction="http://insofter.pl/webservices/GetDeviceUpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="icdtcp3Soap12" type="tns:icdtcp3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTime">
      <soap12:operation soapAction="http://insofter.pl/webservices/GetTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDevice">
      <soap12:operation soapAction="http://insofter.pl/webservices/LoginDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <soap12:operation soapAction="http://insofter.pl/webservices/SendData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData3">
      <soap12:operation soapAction="http://insofter.pl/webservices/SendData3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutDevice">
      <soap12:operation soapAction="http://insofter.pl/webservices/LogoutDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestSession">
      <soap12:operation soapAction="http://insofter.pl/webservices/TestSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceUpdateInfo">
      <soap12:operation soapAction="http://insofter.pl/webservices/GetDeviceUpdateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="icdtcp3">
    <wsdl:port name="icdtcp3Soap" binding="tns:icdtcp3Soap">
      <soap:address location="http://192.168.123.194/icdtcp3/icdtcp3.asmx" />
    </wsdl:port>
    <wsdl:port name="icdtcp3Soap12" binding="tns:icdtcp3Soap12">
      <soap12:address location="http://192.168.123.194/icdtcp3/icdtcp3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>